@import '../../styles/variables';

.table {
  grid-area: stats;
  width: 200px;
  align-self: end;
  border-collapse: collapse;
  border: 1px solid $main-blue-color;
  font-family: $roboto;
  thead {
    height: 2rem;
    background-color: $main-blue-color;
    color: $white-color;
    font-size: 1.3rem;
  }
  tbody {
    th:first-child, td:first-child {
      border-right: 1px solid $main-blue-color;
    }
    th {
      border-bottom: 1px solid $main-blue-color;
      text-align: center;
      height: 1.5rem;
      font-size: 0.9rem;
      font-weight: 400;
    }
    td {
      text-align: center;
      font-size: 3rem;
    }
  }
}