@import '../styles/variables';
@import '../styles/mixins';

.records_container {
  flex-grow: 1;
  @include flex(center);
  .records_list {
    flex: 0 1 575px;
    padding: 1rem 0.5rem;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 11px;
    background: $gray-records-bg-color;
    box-shadow: inset 3px 3px 4px #e2e1e1,
            inset -3px -3px 4px #e2e1e1;
  }
}