.records_container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    .records_list {
        padding: 1rem 0.5rem;
        max-height: 400px;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 30%;
        background-color: rgb(249 250 251);
    }
}