@import '../../styles/variables';
@import '../../styles/mixins';

.nav {
  height: 70px;
  @include flex(center, center);
  gap: 70px;
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $roboto;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: $black-color;
  }
  .active {
    text-decoration: underline;
    font-weight: 700;
  }
}

@media (hover: hover) {
  .nav {
    a:hover {
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 480px) {
  .nav {
    height: 50px;
    gap: 40px;
    flex-shrink: 0;
    a {
      font-size: 0.8rem;
    }
  }
}