@import '../../styles/variables';
@import '../../styles/mixins';

.nav {
  height: 70px;
  @include flex(center, center);
  gap: 70px;
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $roboto;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: $black-color;
  }
  .active {
    text-decoration: underline;
  }
}