.form {
  height: 150px;
  display: grid;
  grid-template-columns: 300px auto 300px;
  grid-template-areas: ". form stats";
  .label_container {
    grid-area: form;
    width: 400px;
    justify-self: center;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .message {
    width: 200px;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
  }
  .input_container {
    display: flex;
    gap: 15px;
    input[type=text] {
      height: 20px;
      flex-grow: 1;
      outline: none;
    }
  }
  .input_container:has(input[type=text]:focus) + .message {
    visibility: visible;
  }
  .max_length {
    color: red;
  }
}