.form {
  margin: 0 auto;
  height: 150px;
  width: 300px;
  display: flex;
  align-items: flex-end;
  .label_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .message {
    width: 200px;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
  }
  .input_container {
    display: flex;
    gap: 15px;
    input[type=text] {
      height: 20px;
      flex-grow: 1;
      outline: none;
    }
  }
  .input_container:has(input[type=text]:focus) + .message {
    visibility: visible;
  }
  .max_length {
    color: red;
  }
}